<a href="https://colab.research.google.com/github/soledadli/interactive-Covid-19-dashboard/blob/main/Data_Cleaning_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_confirmed  = pd.read_csv('time_series_covid19_confirmed_global.csv')
data_death  = pd.read_csv('time_series_covid19_deaths_global.csv')
data_recovered = pd.read_csv('time_series_covid19_recovered_global.csv')

In [3]:
data_confirmed.shape

(275, 489)

In [4]:
data_death.shape

(275, 489)

## Countries Choice

In [5]:
data_confirmed['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

### France
### US
### South Africa
### India
### Brazil

## Preprocessing Data

In [6]:
# Group by data by countries
countries = ['France', 'US', 'India', 'Brazil', 'South Africa']
data_confirmed = data_confirmed[data_confirmed["Country/Region"].isin(countries)].groupby('Country/Region').sum()
data_death = data_death[data_death["Country/Region"].isin(countries)].groupby('Country/Region').sum()
data_recovered = data_recovered[data_recovered["Country/Region"].isin(countries)].groupby('Country/Region').sum()
data_confirmed

                      Lat        Long  1/22/20  ...   5/18/21   5/19/21   5/20/21
Country/Region                                  ...
Brazil         -14.235000  -51.925300        0  ...  15732836  15812055  15894094
France          77.103595 -118.075614        0  ...   5959593   5978650   5979099
India           20.593684   78.962880        0  ...  25496330  25772440  26031991
South Africa   -30.559500   22.937500        0  ...   1617840   1621362   1625003
US              40.000000 -100.000000        1  ...  32997331  33026624  33056765

[5 rows x 487 columns]

In [7]:
# Confirmed
dt = data_confirmed.T
confirmed_date = dt[dt.index.str.startswith('1/') & dt.index.str.endswith('21')].reset_index().rename(columns = {'index':'Date'})
confirmed_date["Date"] = pd.to_datetime(confirmed_date["Date"])
confirmed_date

Country/Region       Date     Brazil  ...  South Africa          US
0              2021-01-01  7700578.0  ...     1073887.0  20252991.0
1              2021-01-02  7716405.0  ...     1088889.0  20553301.0
2              2021-01-03  7733746.0  ...     1100748.0  20762047.0
3              2021-01-04  7753752.0  ...     1113349.0  20946329.0
4              2021-01-05  7810400.0  ...     1127759.0  21181440.0
5              2021-01-06  7873830.0  ...     1149591.0  21436884.0
6              2021-01-07  7961673.0  ...     1170590.0  21715174.0
7              2021-01-08  8013708.0  ...     1192570.0  22010389.0
8              2021-01-09  8075998.0  ...     1214176.0  22271084.0
9              2021-01-10  8105790.0  ...     1231597.0  22484332.0
10             2021-01-11  8131612.0  ...     1246643.0  22699326.0
11             2021-01-12  8195637.0  ...     1259748.0  22926246.0
12             2021-01-13  8256536.0  ...     1278303.0  23156608.0
13             2021-01-14  8324294.0  ...     1296806.0  23392315.0
14             2021-01-15  8393492.0  ...     1311686.0  23635046.0
15             2021-01-16  8455059.0  ...     1325659.0  23836726.0
16             2021-01-17  8488099.0  ...     1337926.0  24014508.0
17             2021-01-18  8511770.0  ...     1346936.0  24157924.0
18             2021-01-19  8573864.0  ...     1356716.0  24334630.0
19             2021-01-20  8638249.0  ...     1369426.0  24517866.0
20             2021-01-21  8697368.0  ...     1380807.0  24711684.0
21             2021-01-22  8753920.0  ...     1392568.0  24902437.0
22             2021-01-23  8816254.0  ...     1404839.0  25073050.0
23             2021-01-24  8844577.0  ...     1412986.0  25204112.0
24             2021-01-25  8871393.0  ...     1417537.0  25356081.0
25             2021-01-26  8933356.0  ...     1423578.0  25503621.0
26             2021-01-27  8996876.0  ...     1430648.0  25657566.0
27             2021-01-28  9058687.0  ...     1437798.0  25826176.0
28             2021-01-29  9118513.0  ...     1443939.0  25992744.0
29             2021-01-30  9176975.0  ...     1449236.0  26135056.0
30             2021-01-31  9204731.0  ...     1453761.0  26247053.0

[31 rows x 6 columns]